@use "../utils/mixin" as m;

// стили всплывающего окна
.popup {
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(41, 44, 70, 0.40);
    backdrop-filter: blur(10px);
	z-index: 2502;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	padding: 30px;
	transition: opacity 0.4s, visibility 0.4s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&__window {
        border-radius: var(--br-m);
        padding: 60px;
        max-width: 560px;
		margin: auto;
		background-color: var(--bg-tertiary);
		position: relative;
		top: -60px;
		transition: top 0.4s;
		overflow: hidden;
	}

	&.active &__window {
		top: 0;
	}

	&__close {
        background: transparent;
        border: unset;
		width: 30px;
		height: auto;
		aspect-ratio: 1;
		position: absolute;
		top: 16px;
		right: 16px;
		cursor: pointer;

		&:before,
		&:after {
			content: "";
			width: 70%;
			height: 2px;
			background-color: var(--text-light);
			border-radius: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			transition: background-color 0.3s;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		@include m.hover {

			&:hover:before,
			&:hover:after {
				background-color: var(--text-primary);
			}
		}
	}

	&__title {
		margin-bottom: 16px;
	}

    &__descr {
        margin-bottom: 32px;
    }

    &__form{

        .form__container{
        	grid-template-columns: repeat(1, 1fr);
        }

        .form__submit-container {
            margin-top: 28px;
        }
    }
	
}


@include m.tablet-s {
	.popup {

		&__close {
			top: 20px;
			right: 20px;
		}

		&__window {
			padding: 32px;
		}
	}
}

@include m.mobile {
	.popup {
		padding: 16px;

		&__window {
			padding: 32px 16px;
		}

		&__form{
	
			.form__submit-container {
				margin-top: 20px;
			}
		}

		&__close {
			top: 12px;
			right: 12px;
		}

		&__descr {
			margin-bottom: 28px;
		}
		
		&__title {
			margin-bottom: 8px;
		}
	}
}

// @include m.mobile {
// 	.popup {
// 		.form__form {
// 			pa
// 		}
// 	}
// }