<section class="main">
    <div class="main__container container container--l">
        <div class="main__text">
            <h1 class="title-lg">Защитные очки <span>солнышко</span></h1>

            <div class="main__text-bottom">
                <div class="text-label">
                    <p>Высокое качество напрямую от&nbsp;производителя</p>
                </div>
                <div class="btn-arrow-down main__btn-arrow-down arrow-animation">
                    <div class="btn-arrow-down__icons arrow-animation__icons">
                        <img src="icons/arrow-down.svg" alt="Стрелка">
                        <img src="icons/arrow-down.svg" alt="Стрелка">
                        <img src="icons/arrow-down.svg" alt="Стрелка">
                    </div>
                </div>
            </div>
        </div>
        <div class="main__banner img">
            <picture>
                <source srcset="img/main/banner-mobile.jpg" media="(max-width: 480px)">
                <source srcset="img/main/banner-vert.jpg" media="(max-width: 1024px)">
                <img src="img/main/banner.jpg" alt="Баннер">
            </picture>
        </div>
    </div>
</section>