<header class="header">
    <div class="container container--xl header__container">
        <div class="header__logo label">
            <a href="#" class="header__logo-img img">
                <picture>
                    <img src="icons/logo.svg" alt="Логотип">
                </picture>
            </a>
        </div>
        <button class="header__btn label header__link">
            <span>Меню</span>
        </button>
        <div class="header__menu-wrapper">
            <div class="header__menu-wrapper-scroll">
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item dropdown">
                            <a href="google.com" class="menu__link">О
                                компании</a>
                            <ul class="menu__submenu submenu">
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">История</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Сервис</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Мы
                                        производим</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Сертификаты</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">О
                                        продукции</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Отзывы</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Каталог</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Оптовым
                                клиентам</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link" target="_blank">Интернет-магазин</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link" target="_blank">Сельхоз.
                                предприятиям</a>
                        </li>
                        <li class="menu__item dropdown">
                            <a href="" class="menu__link">Полезная информация</a>
                            <ul class="menu__submenu submenu">
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Статьи</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Вопрос-ответ</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="" class="submenu__link">Видеообзоры</a>
                                </li>
                            </ul>

                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__menu-btns">
                    <a href="tel:+78312437899" class="header__link header__phone label">+7 (831) 243-78-99</a>
                    <a href="mailto:sale@solnyshco.com" class="header__link header__email label">sale@solnyshco.com</a>
                    <button class="btn" data-popup="popup-call">Отправить заявку</button>
                </div>
            </div>
        </div>
        <a href="tel:+78312437899" class="header__link header__phone label">+7 (831) 243-78-99</a>
        <a href="mailto:sale@solnyshco.com" class="header__link header__email label">sale@solnyshco.com</a>
    </div>
</header>